@charset "UTF-8";
alert {
  z-index: 1000;
  display: inline-flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--bg-secondary-color);
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  visibility: hidden;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-animation: alert-close 0.5s;
  animation: alert-close 0.5s;
}
alert:target, alert[active] {
  width: 80%;
  max-width: 520px;
  min-height: 200px;
  max-height: 65vh;
  border-radius: 5px;
  visibility: visible;
  -webkit-animation: alert 1 0.5s ease-in-out forwards;
  animation: alert 1 0.5s ease-in-out forwards;
}
alert:target a[close], alert[active] a[close] {
  cursor: pointer;
  position: absolute;
  padding: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px 5px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  width: 36px;
  height: 36px;
  top: 0;
  right: 0;
  border-radius: 50%;
}
alert:target a[close]::before, alert[active] a[close]::before {
  content: "×";
  color: #000;
}
alert:target a[close][dark], alert[active] a[close][dark] {
  background: rgba(255, 255, 255, 0.5);
}
alert:target a[close][dark]::before, alert[active] a[close][dark]::before {
  color: #fff;
}

@-webkit-keyframes alert {
  0% {
    width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 50%;
  }
  10% {
    border-radius: 5px;
  }
  25% {
    width: 100px;
  }
  50% {
    min-height: 100px;
    max-height: 100px;
  }
  100% {
    width: 80%;
    max-width: 520px;
    min-height: 200px;
    max-height: 65vh;
  }
}

@keyframes alert {
  0% {
    width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 50%;
  }
  10% {
    border-radius: 5px;
  }
  25% {
    width: 100px;
  }
  50% {
    min-height: 100px;
    max-height: 100px;
  }
  100% {
    width: 80%;
    max-width: 520px;
    min-height: 200px;
    max-height: 65vh;
  }
}
@-webkit-keyframes alert-close {
  0% {
    width: 80%;
    max-width: 520px;
    min-height: 200px;
    max-height: 65vh;
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    width: 80%;
    max-width: 520px;
    min-height: 200px;
    max-height: 65vh;
    transform: translate(-50%, -50vh);
    opacity: 0;
  }
}
@keyframes alert-close {
  0% {
    width: 80%;
    max-width: 520px;
    min-height: 200px;
    max-height: 65vh;
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    width: 80%;
    max-width: 520px;
    min-height: 200px;
    max-height: 65vh;
    transform: translate(-50%, -50vh);
    opacity: 0;
  }
}