@charset "UTF-8";
breadcrumb {
  display: flex;
}
breadcrumb item {
  padding: 2px 5px;
}
breadcrumb item:first-child {
  margin-left: 0;
}
breadcrumb item::after {
  color: #bdbdbd;
  padding-left: 10px;
  content: ">";
}
breadcrumb[slash] item::after {
  content: "/";
}
breadcrumb[arrow] item::after {
  content: "→" /*!rtl: "←"*/;
}
breadcrumb[dot] item::after {
  content: "•";
}
breadcrumb item:last-child {
  padding-right: 10px;
}
breadcrumb item:last-child::after {
  content: "";
}