@charset "UTF-8";
button {
  --color: var(--secondary-color);
  padding: 10px 15px;
  color: var(--text);
  display: inline-block;
  transition: 0.2s;
  cursor: pointer;
  border: var(--color) 1px solid;
  border-radius: 5px;
  min-height: 25px;
  font-weight: 400;
  font-size: 16px;
}
button.erorr {
  --color: #d12222;
}
button.warn {
  --color: #ce6504;
}
button.success {
  --color: #0bca15;
}
button:hover {
  color: var(--hover-text);
}
button:hover a:visited, button:hover a:active {
  color: var(--hover-text);
}
button a:visited, button a:active {
  color: var(--text);
}
button:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
button[theme=inline] {
  --text:#fff;
  --hover-text:#000;
  background-color: var(--color);
}
button[theme=inline]:hover {
  background: none;
}
button[theme=inline][dark] {
  --hover-text:#dfdfdf;
}
button[theme=outline] {
  --text:#000;
  --hover-text:#fff;
}
button[theme=outline][dark] {
  background-color: var(--bg-scondary-color);
}
button[theme=outline]:hover {
  background-color: var(--color);
}
button[theme=shadow-fill] {
  --text:#fff;
  --hover-text:#fff;
  background-color: var(--color);
}
button[theme=shadow-fill]:hover {
  opacity: 0.8;
}
button[theme=shadow] {
  --text: var(--color);
  --hover-text: var(--color);
  background-color: var(--bg-secondary-color);
  border: 1px solid var(--color);
}
button[theme=shadow]:hover {
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
}
button[theme=shadow]:hover[dark] {
  background: rgba(255, 255, 255, 0.2);
}
button[theme=close] {
  --text:#fff;
  --hover-text:#fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}
button[theme=close]::before {
  content: "×";
  font-size: 20px;
  color: var(--text);
  /*rtl:raw:transform: translateY(5%)*/
}
button[theme=close]:active {
  -webkit-transform: none;
  transform: none;
  background: rgba(0, 0, 0, 0.6);
}