pgbar {
  --bar-color: var(--bg-secondary-color);
  --active-color: var(--primary-color);
  --color: #ffffff;
  display: inline-block;
  position: relative;
  min-width: 70%;
  min-height: 20px;
  border-radius: 2.5px;
  background-color: var(--bar-color);
  -webkit-filter: none;
  filter: none;
  overflow: hidden;
  border-radius: 10px;
}
pgbar bar {
  box-shadow: 2.5px 0 0.5px var(--secondary-color);
  background-color: var(--active-color);
  width: var(--active);
}
pgbar bar2 {
  right: 0;
  box-shadow: -2.5px 0 0.5px var(--active-shadow-color2);
  background-color: var(--active-color2);
  width: var(--active2);
}

pgbar bar, pgbar bar2 {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 2px 5px;
  padding-left: calc(var(--active) / 2);
  height: 100%;
  color: var(--color);
  -webkit-filter: none;
  filter: none;
}