tabs {
  display: flex;
}
tabs tab {
  flex: 0 1 auto;
  padding: 7.5px 12px;
  transition-duration: 200ms;
}
tabs tab a:hover, tabs tab[active] {
  color: var(--primary-color);
}
tabs tab:hover {
  cursor: pointer;
}
tabs[full] tab {
  flex: 1;
  text-align: center;
}
tabs[theme=modern] tab {
  border-bottom: 2.25px #757575 solid;
}
tabs[theme=modern] tab[active], tabs[theme=modern] tab:hover {
  border-bottom: 2.25px #212121 solid;
}
tabs[theme=box] tab {
  border-bottom: 1.5px #757575 solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
tabs[theme=box] tab[active] {
  border: 1.5px #757575 solid;
  border-bottom: none;
}
tabs[theme=box] tab:hover {
  box-shadow: inset 0 0.5px 0 1px rgba(255, 255, 255, 0.2);
}
tabs[theme=toggle] tab {
  border: 1.5px #9e9e9e solid;
}
tabs[theme=toggle] tab:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
tabs[theme=toggle] tab:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
tabs[theme=toggle] tab[active], tabs[theme=toggle] tab:hover {
  background-color: var(--primary-color);
  color: white;
}
tabs[theme=toggle] tab[active] a:visited, tabs[theme=toggle] tab:hover a:visited {
  color: white;
}
tabs[theme=toggle] tab[active] a:hover, tabs[theme=toggle] tab:hover a:hover {
  color: white;
}
tabs[theme=toggle] tab:not(tabs[theme=toggle] tab:first-child) {
  border-left: none;
}