.flex-dir-column {
  flex-direction: column;
}

.flex-dir-column-reverse {
  flex-direction: column-reverse;
}

.flex-dir-row {
  flex-direction: row;
}

.flex-dir-row-reverse {
  flex-direction: row-reverse;
}

@media screen and (min-width: 540px) {
  .flex-dir-sm-column {
    flex-direction: column;
  }
}

@media screen and (min-width: 720px) {
  .flex-dir-md-column {
    flex-direction: column;
  }
}

@media screen and (min-width: 765px) {
  .flex-dir-mobile-column {
    flex-direction: column;
  }
}

@media screen and (min-width: 960px) {
  .flex-dir-lg-column {
    flex-direction: column;
  }
}

@media screen and (min-width: 1140px) {
  .flex-dir-xl-column {
    flex-direction: column;
  }
}

@media screen and (min-width: 540px) {
  .flex-dir-sm-column-reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 720px) {
  .flex-dir-md-column-reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 765px) {
  .flex-dir-mobile-column-reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 960px) {
  .flex-dir-lg-column-reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1140px) {
  .flex-dir-xl-column-reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 540px) {
  .flex-dir-sm-row {
    flex-direction: row;
  }
}

@media screen and (min-width: 720px) {
  .flex-dir-md-row {
    flex-direction: row;
  }
}

@media screen and (min-width: 765px) {
  .flex-dir-mobile-row {
    flex-direction: row;
  }
}

@media screen and (min-width: 960px) {
  .flex-dir-lg-row {
    flex-direction: row;
  }
}

@media screen and (min-width: 1140px) {
  .flex-dir-xl-row {
    flex-direction: row;
  }
}

@media screen and (min-width: 540px) {
  .flex-dir-sm-row-reverse {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 720px) {
  .flex-dir-md-row-reverse {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 765px) {
  .flex-dir-mobile-row-reverse {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 960px) {
  .flex-dir-lg-row-reverse {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1140px) {
  .flex-dir-xl-row-reverse {
    flex-direction: row-reverse;
  }
}

.jus-content-start {
  justify-content: start;
}

.jus-content-end {
  justify-content: end;
}

.jus-content-center {
  justify-content: center;
}

.jus-content-between {
  justify-content: between;
}

.jus-content-around {
  justify-content: around;
}

.jus-content-evenly {
  justify-content: evenly;
}

@media screen and (min-width: 540px) {
  .jus-content-sm-start {
    justify-content: start;
  }
}

@media screen and (min-width: 720px) {
  .jus-content-md-start {
    justify-content: start;
  }
}

@media screen and (min-width: 765px) {
  .jus-content-mobile-start {
    justify-content: start;
  }
}

@media screen and (min-width: 960px) {
  .jus-content-lg-start {
    justify-content: start;
  }
}

@media screen and (min-width: 1140px) {
  .jus-content-xl-start {
    justify-content: start;
  }
}

@media screen and (min-width: 540px) {
  .jus-content-sm-end {
    justify-content: end;
  }
}

@media screen and (min-width: 720px) {
  .jus-content-md-end {
    justify-content: end;
  }
}

@media screen and (min-width: 765px) {
  .jus-content-mobile-end {
    justify-content: end;
  }
}

@media screen and (min-width: 960px) {
  .jus-content-lg-end {
    justify-content: end;
  }
}

@media screen and (min-width: 1140px) {
  .jus-content-xl-end {
    justify-content: end;
  }
}

@media screen and (min-width: 540px) {
  .jus-content-sm-center {
    justify-content: center;
  }
}

@media screen and (min-width: 720px) {
  .jus-content-md-center {
    justify-content: center;
  }
}

@media screen and (min-width: 765px) {
  .jus-content-mobile-center {
    justify-content: center;
  }
}

@media screen and (min-width: 960px) {
  .jus-content-lg-center {
    justify-content: center;
  }
}

@media screen and (min-width: 1140px) {
  .jus-content-xl-center {
    justify-content: center;
  }
}

@media screen and (min-width: 540px) {
  .jus-content-sm-between {
    justify-content: between;
  }
}

@media screen and (min-width: 720px) {
  .jus-content-md-between {
    justify-content: between;
  }
}

@media screen and (min-width: 765px) {
  .jus-content-mobile-between {
    justify-content: between;
  }
}

@media screen and (min-width: 960px) {
  .jus-content-lg-between {
    justify-content: between;
  }
}

@media screen and (min-width: 1140px) {
  .jus-content-xl-between {
    justify-content: between;
  }
}

@media screen and (min-width: 540px) {
  .jus-content-sm-around {
    justify-content: around;
  }
}

@media screen and (min-width: 720px) {
  .jus-content-md-around {
    justify-content: around;
  }
}

@media screen and (min-width: 765px) {
  .jus-content-mobile-around {
    justify-content: around;
  }
}

@media screen and (min-width: 960px) {
  .jus-content-lg-around {
    justify-content: around;
  }
}

@media screen and (min-width: 1140px) {
  .jus-content-xl-around {
    justify-content: around;
  }
}

@media screen and (min-width: 540px) {
  .jus-content-sm-evenly {
    justify-content: evenly;
  }
}

@media screen and (min-width: 720px) {
  .jus-content-md-evenly {
    justify-content: evenly;
  }
}

@media screen and (min-width: 765px) {
  .jus-content-mobile-evenly {
    justify-content: evenly;
  }
}

@media screen and (min-width: 960px) {
  .jus-content-lg-evenly {
    justify-content: evenly;
  }
}

@media screen and (min-width: 1140px) {
  .jus-content-xl-evenly {
    justify-content: evenly;
  }
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

@media screen and (min-width: 540px) {
  .align-items-sm-start {
    align-items: start;
  }
}

@media screen and (min-width: 720px) {
  .align-items-md-start {
    align-items: start;
  }
}

@media screen and (min-width: 765px) {
  .align-items-mobile-start {
    align-items: start;
  }
}

@media screen and (min-width: 960px) {
  .align-items-lg-start {
    align-items: start;
  }
}

@media screen and (min-width: 1140px) {
  .align-items-xl-start {
    align-items: start;
  }
}

@media screen and (min-width: 540px) {
  .align-items-sm-end {
    align-items: end;
  }
}

@media screen and (min-width: 720px) {
  .align-items-md-end {
    align-items: end;
  }
}

@media screen and (min-width: 765px) {
  .align-items-mobile-end {
    align-items: end;
  }
}

@media screen and (min-width: 960px) {
  .align-items-lg-end {
    align-items: end;
  }
}

@media screen and (min-width: 1140px) {
  .align-items-xl-end {
    align-items: end;
  }
}

@media screen and (min-width: 540px) {
  .align-items-sm-center {
    align-items: center;
  }
}

@media screen and (min-width: 720px) {
  .align-items-md-center {
    align-items: center;
  }
}

@media screen and (min-width: 765px) {
  .align-items-mobile-center {
    align-items: center;
  }
}

@media screen and (min-width: 960px) {
  .align-items-lg-center {
    align-items: center;
  }
}

@media screen and (min-width: 1140px) {
  .align-items-xl-center {
    align-items: center;
  }
}

@media screen and (min-width: 540px) {
  .align-items-sm-baseline {
    align-items: baseline;
  }
}

@media screen and (min-width: 720px) {
  .align-items-md-baseline {
    align-items: baseline;
  }
}

@media screen and (min-width: 765px) {
  .align-items-mobile-baseline {
    align-items: baseline;
  }
}

@media screen and (min-width: 960px) {
  .align-items-lg-baseline {
    align-items: baseline;
  }
}

@media screen and (min-width: 1140px) {
  .align-items-xl-baseline {
    align-items: baseline;
  }
}

@media screen and (min-width: 540px) {
  .align-items-sm-stretch {
    align-items: stretch;
  }
}

@media screen and (min-width: 720px) {
  .align-items-md-stretch {
    align-items: stretch;
  }
}

@media screen and (min-width: 765px) {
  .align-items-mobile-stretch {
    align-items: stretch;
  }
}

@media screen and (min-width: 960px) {
  .align-items-lg-stretch {
    align-items: stretch;
  }
}

@media screen and (min-width: 1140px) {
  .align-items-xl-stretch {
    align-items: stretch;
  }
}

.align-content-start {
  align-content: start;
}

.align-content-end {
  align-content: end;
}

.align-content-center {
  align-content: center;
}

.align-content-around {
  align-content: around;
}

.align-content-stretch {
  align-content: stretch;
}

@media screen and (min-width: 540px) {
  .align-content-sm-start {
    align-content: start;
  }
}

@media screen and (min-width: 720px) {
  .align-content-md-start {
    align-content: start;
  }
}

@media screen and (min-width: 765px) {
  .align-content-mobile-start {
    align-content: start;
  }
}

@media screen and (min-width: 960px) {
  .align-content-lg-start {
    align-content: start;
  }
}

@media screen and (min-width: 1140px) {
  .align-content-xl-start {
    align-content: start;
  }
}

@media screen and (min-width: 540px) {
  .align-content-sm-end {
    align-content: end;
  }
}

@media screen and (min-width: 720px) {
  .align-content-md-end {
    align-content: end;
  }
}

@media screen and (min-width: 765px) {
  .align-content-mobile-end {
    align-content: end;
  }
}

@media screen and (min-width: 960px) {
  .align-content-lg-end {
    align-content: end;
  }
}

@media screen and (min-width: 1140px) {
  .align-content-xl-end {
    align-content: end;
  }
}

@media screen and (min-width: 540px) {
  .align-content-sm-center {
    align-content: center;
  }
}

@media screen and (min-width: 720px) {
  .align-content-md-center {
    align-content: center;
  }
}

@media screen and (min-width: 765px) {
  .align-content-mobile-center {
    align-content: center;
  }
}

@media screen and (min-width: 960px) {
  .align-content-lg-center {
    align-content: center;
  }
}

@media screen and (min-width: 1140px) {
  .align-content-xl-center {
    align-content: center;
  }
}

@media screen and (min-width: 540px) {
  .align-content-sm-around {
    align-content: around;
  }
}

@media screen and (min-width: 720px) {
  .align-content-md-around {
    align-content: around;
  }
}

@media screen and (min-width: 765px) {
  .align-content-mobile-around {
    align-content: around;
  }
}

@media screen and (min-width: 960px) {
  .align-content-lg-around {
    align-content: around;
  }
}

@media screen and (min-width: 1140px) {
  .align-content-xl-around {
    align-content: around;
  }
}

@media screen and (min-width: 540px) {
  .align-content-sm-stretch {
    align-content: stretch;
  }
}

@media screen and (min-width: 720px) {
  .align-content-md-stretch {
    align-content: stretch;
  }
}

@media screen and (min-width: 765px) {
  .align-content-mobile-stretch {
    align-content: stretch;
  }
}

@media screen and (min-width: 960px) {
  .align-content-lg-stretch {
    align-content: stretch;
  }
}

@media screen and (min-width: 1140px) {
  .align-content-xl-stretch {
    align-content: stretch;
  }
}

.align-self-start {
  align-self: start;
}

.align-self-end {
  align-self: end;
}

.align-self-center {
  align-self: center;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}

@media screen and (min-width: 540px) {
  .align-self-sm-start {
    align-self: start;
  }
}

@media screen and (min-width: 720px) {
  .align-self-md-start {
    align-self: start;
  }
}

@media screen and (min-width: 765px) {
  .align-self-mobile-start {
    align-self: start;
  }
}

@media screen and (min-width: 960px) {
  .align-self-lg-start {
    align-self: start;
  }
}

@media screen and (min-width: 1140px) {
  .align-self-xl-start {
    align-self: start;
  }
}

@media screen and (min-width: 540px) {
  .align-self-sm-end {
    align-self: end;
  }
}

@media screen and (min-width: 720px) {
  .align-self-md-end {
    align-self: end;
  }
}

@media screen and (min-width: 765px) {
  .align-self-mobile-end {
    align-self: end;
  }
}

@media screen and (min-width: 960px) {
  .align-self-lg-end {
    align-self: end;
  }
}

@media screen and (min-width: 1140px) {
  .align-self-xl-end {
    align-self: end;
  }
}

@media screen and (min-width: 540px) {
  .align-self-sm-center {
    align-self: center;
  }
}

@media screen and (min-width: 720px) {
  .align-self-md-center {
    align-self: center;
  }
}

@media screen and (min-width: 765px) {
  .align-self-mobile-center {
    align-self: center;
  }
}

@media screen and (min-width: 960px) {
  .align-self-lg-center {
    align-self: center;
  }
}

@media screen and (min-width: 1140px) {
  .align-self-xl-center {
    align-self: center;
  }
}

@media screen and (min-width: 540px) {
  .align-self-sm-baseline {
    align-self: baseline;
  }
}

@media screen and (min-width: 720px) {
  .align-self-md-baseline {
    align-self: baseline;
  }
}

@media screen and (min-width: 765px) {
  .align-self-mobile-baseline {
    align-self: baseline;
  }
}

@media screen and (min-width: 960px) {
  .align-self-lg-baseline {
    align-self: baseline;
  }
}

@media screen and (min-width: 1140px) {
  .align-self-xl-baseline {
    align-self: baseline;
  }
}

@media screen and (min-width: 540px) {
  .align-self-sm-stretch {
    align-self: stretch;
  }
}

@media screen and (min-width: 720px) {
  .align-self-md-stretch {
    align-self: stretch;
  }
}

@media screen and (min-width: 765px) {
  .align-self-mobile-stretch {
    align-self: stretch;
  }
}

@media screen and (min-width: 960px) {
  .align-self-lg-stretch {
    align-self: stretch;
  }
}

@media screen and (min-width: 1140px) {
  .align-self-xl-stretch {
    align-self: stretch;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowarp {
  flex-wrap: nowarp;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

@media screen and (min-width: 540px) {
  .flex-sm-wrap {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 720px) {
  .flex-md-wrap {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 765px) {
  .flex-mobile-wrap {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 960px) {
  .flex-lg-wrap {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1140px) {
  .flex-xl-wrap {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 540px) {
  .flex-sm-nowarp {
    flex-wrap: nowarp;
  }
}

@media screen and (min-width: 720px) {
  .flex-md-nowarp {
    flex-wrap: nowarp;
  }
}

@media screen and (min-width: 765px) {
  .flex-mobile-nowarp {
    flex-wrap: nowarp;
  }
}

@media screen and (min-width: 960px) {
  .flex-lg-nowarp {
    flex-wrap: nowarp;
  }
}

@media screen and (min-width: 1140px) {
  .flex-xl-nowarp {
    flex-wrap: nowarp;
  }
}

@media screen and (min-width: 540px) {
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@media screen and (min-width: 720px) {
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@media screen and (min-width: 765px) {
  .flex-mobile-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@media screen and (min-width: 960px) {
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@media screen and (min-width: 1140px) {
  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}