body {
  --bg-color: var(--bg-secondary-color);
  --bg-color2: var(--bg-primary-color);
  --color: var(--primary-color);
  --color2: var(--secondary-color);
}
body[theme=center-box] {
  background-color: var(--bg-color);
}
body[theme=center-box] shaft {
  padding: 15px;
  background-color: var(--bg-color2);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  margin: auto;
  border: solid 1px var(--color);
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 654px) {
  body[theme=center-box] shaft {
    width: auto;
    box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 486px) {
  body[theme=center-box] shaft {
    width: 95%;
  }
}