@import url(https://raw.githubusercontent.com/GodratGroup/GodUi/main/src/css/GodUi.css);
.main {
  padding: 20px;
}
.main > div:not(#static) {
  position: absolute;
  visibility: hidden;
}
.main > div:not(#static):target {
  position: inherit;
  visibility: visible;
}

.tooltips div {
  padding: 10px 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

pre {
  text-align: left;
  border-radius: 6px;
  padding: 8px;
  box-shadow: inset 0 0 0 0.5px #dae4ed, 0 5px 2.5px -5px rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0;
  display: inline-block;
}

code {
  font-family: monospace;
  font-size: 14px;
  display: inline-block;
  line-height: 1.4em;
}

button {
  border-width: 1px;
}