@charset "UTF-8";
alert {
  z-index: 1000;
  display: inline-flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--bg-secondary-color);
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  visibility: hidden;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  overflow: scroll;
}
alert:target {
  width: 80%;
  max-width: 520px;
  min-height: 200px;
  max-height: 300px;
  border-radius: 5px;
  visibility: visible;
  animation: alert 1 0.5s;
}
alert:target a[close] {
  position: absolute;
  padding: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px 5px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  width: 36px;
  height: 36px;
  top: 0;
  right: 0;
  border-radius: 50%;
}
alert:target a[close]::before {
  content: "×";
  color: #000;
}

@keyframes alert {
  0% {
    width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 50%;
  }
  10% {
    border-radius: 5px;
  }
  25% {
    width: 100px;
  }
  50% {
    min-height: 100px;
    max-height: 100px;
  }
  100% {
    width: 80%;
    max-width: 520px;
    min-height: 200px;
    max-height: 300px;
  }
}