navbar {
  --bg-color: var(--bg-secondary-color);
  --color: var(--secondary-color);
  position: fixed;
  top: 0;
  background-color: var(--bg-color);
  width: 100%;
}
navbar[theme=boxed] {
  padding: 15px;
}
navbar[theme=boxed] nav {
  display: flex;
  align-items: center;
}
navbar[theme=boxed] nav item {
  cursor: pointer;
  padding: 5px;
  flex: 0 1 auto;
  border-radius: 2.5px;
  margin-right: 5px;
}
navbar[theme=boxed] nav item a {
  transition: 300ms;
}
navbar[theme=boxed] nav item a:visited {
  color: initial;
}
navbar[theme=boxed] nav item:hover, navbar[theme=boxed] nav item[active], navbar[theme=boxed] nav item a:hover {
  color: var(--primary-color);
}
navbar[theme=simple] nav {
  display: flex;
}
navbar[theme=simple] nav item {
  padding: 15px;
}
navbar nav {
  display: flex;
  flex-wrap: warp;
}
navbar nav item {
  right: 0;
  transition: 300ms;
}
navbar nav item[logo] {
  display: block;
  padding: 2px;
}
@media screen and (min-width: 765px) {
  navbar nav item[logo] {
    margin-right: auto;
  }
}
navbar nav item:last-child {
  margin-right: 75px;
}
navbar nav item:not(navbar nav item[logo]):hover, navbar nav item[active] {
  background-color: var(--color);
}