.tooltip-box {
  position: relative;
}
.tooltip-box tooltip {
  --width: -75px;
  z-index: 1;
  display: inline-block;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 50%;
  bottom: 95%;
  transition: 0.5s;
  transform: translate(-50%, 0%);
  color: white;
  padding: 5px 10px;
  font-weight: 300;
  font-size: 12px;
  border-radius: 2.5px;
  text-align: center;
  min-width: 50px;
  max-width: var(--width);
}
.tooltip-box tooltip[top-left] {
  left: 0;
  transform: none;
  bottom: 100%;
}
.tooltip-box tooltip[top-right] {
  left: auto;
  right: 0;
  transform: none;
  bottom: 100%;
}
.tooltip-box tooltip[left] {
  left: 0;
  transform: translate(0, 50%);
  bottom: 50%;
}
.tooltip-box tooltip[right] {
  left: auto;
  right: 0;
  transform: translate(0, 50%);
  bottom: 50%;
}
.tooltip-box tooltip[bottom] {
  bottom: 5%;
}
.tooltip-box tooltip[bottom-left] {
  left: 0;
  transform: none;
  bottom: 5%;
}
.tooltip-box tooltip[bottom-right] {
  left: auto;
  transform: none;
  right: 0;
  bottom: 5%;
}
.tooltip-box:hover > tooltip, .tooltip-box:focus > tooltip {
  opacity: 1;
  display: inline-block;
  bottom: calc(100% + 10px);
}
.tooltip-box:hover > tooltip[top-left], .tooltip-box:focus > tooltip[top-left] {
  left: var(--width);
  bottom: calc(100% + 10px);
}
.tooltip-box:hover > tooltip[top-right], .tooltip-box:focus > tooltip[top-right] {
  right: var(--width);
  bottom: calc(100% + 10px);
}
.tooltip-box:hover > tooltip[left], .tooltip-box:focus > tooltip[left] {
  left: var(--width);
  bottom: 50%;
}
.tooltip-box:hover > tooltip[right], .tooltip-box:focus > tooltip[right] {
  right: var(--width);
  bottom: 50%;
}
.tooltip-box:hover > tooltip[bottom], .tooltip-box:focus > tooltip[bottom] {
  bottom: calc(-50% - 10px);
}
.tooltip-box:hover > tooltip[bottom-left], .tooltip-box:focus > tooltip[bottom-left] {
  left: var(--width);
  bottom: calc(-50% - 10px);
}
.tooltip-box:hover > tooltip[bottom-right], .tooltip-box:focus > tooltip[bottom-right] {
  right: var(--width);
  bottom: calc(-50% - 10px);
}