.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-grid {
  display: grid;
}

@media screen and (min-width: 540px) {
  .d-sm-none {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (min-width: 765px) {
  .d-mobile-none {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .d-lg-none {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  .d-xl-none {
    display: none;
  }
}

@media screen and (min-width: 540px) {
  .d-sm-inline {
    display: inline;
  }
}

@media screen and (min-width: 720px) {
  .d-md-inline {
    display: inline;
  }
}

@media screen and (min-width: 765px) {
  .d-mobile-inline {
    display: inline;
  }
}

@media screen and (min-width: 960px) {
  .d-lg-inline {
    display: inline;
  }
}

@media screen and (min-width: 1140px) {
  .d-xl-inline {
    display: inline;
  }
}

@media screen and (min-width: 540px) {
  .d-sm-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 720px) {
  .d-md-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 765px) {
  .d-mobile-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 960px) {
  .d-lg-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 1140px) {
  .d-xl-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 540px) {
  .d-sm-block {
    display: block;
  }
}

@media screen and (min-width: 720px) {
  .d-md-block {
    display: block;
  }
}

@media screen and (min-width: 765px) {
  .d-mobile-block {
    display: block;
  }
}

@media screen and (min-width: 960px) {
  .d-lg-block {
    display: block;
  }
}

@media screen and (min-width: 1140px) {
  .d-xl-block {
    display: block;
  }
}

@media screen and (min-width: 540px) {
  .d-sm-flex {
    display: flex;
  }
}

@media screen and (min-width: 720px) {
  .d-md-flex {
    display: flex;
  }
}

@media screen and (min-width: 765px) {
  .d-mobile-flex {
    display: flex;
  }
}

@media screen and (min-width: 960px) {
  .d-lg-flex {
    display: flex;
  }
}

@media screen and (min-width: 1140px) {
  .d-xl-flex {
    display: flex;
  }
}

@media screen and (min-width: 540px) {
  .d-sm-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 720px) {
  .d-md-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 765px) {
  .d-mobile-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 960px) {
  .d-lg-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 1140px) {
  .d-xl-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 540px) {
  .d-sm-grid {
    display: grid;
  }
}

@media screen and (min-width: 720px) {
  .d-md-grid {
    display: grid;
  }
}

@media screen and (min-width: 765px) {
  .d-mobile-grid {
    display: grid;
  }
}

@media screen and (min-width: 960px) {
  .d-lg-grid {
    display: grid;
  }
}

@media screen and (min-width: 1140px) {
  .d-xl-grid {
    display: grid;
  }
}
