*[hide] {
  visibility: hidden;
  display: none !important;
}

*[show] {
  visibility: visible;
}

*[center] {
  margin: auto;
}

*[center-w] {
  margin-inline: auto;
}

*[of-a] {
  overflow: auto;
}

*[of-h] {
  overflow: hidden;
}

*[of-v] {
  overflow: visible;
}

*[of-s] {
  overflow: scroll;
}