.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

@media screen and (max-width: 540px) {
  .position-static:sm {
    position: static;
  }
}

@media screen and (max-width: 540px) {
  .position-relative:sm {
    position: relative;
  }
}

@media screen and (max-width: 540px) {
  .position-absolute:sm {
    position: absolute;
  }
}

@media screen and (max-width: 540px) {
  .position-fixed:sm {
    position: fixed;
  }
}

@media screen and (max-width: 540px) {
  .position-sticky:sm {
    position: sticky;
  }
}

@media screen and (max-width: 720px) {
  .position-static:md {
    position: static;
  }
}

@media screen and (max-width: 720px) {
  .position-relative:md {
    position: relative;
  }
}

@media screen and (max-width: 720px) {
  .position-absolute:md {
    position: absolute;
  }
}

@media screen and (max-width: 720px) {
  .position-fixed:md {
    position: fixed;
  }
}

@media screen and (max-width: 720px) {
  .position-sticky:md {
    position: sticky;
  }
}

@media screen and (max-width: 765px) {
  .position-static:mobile {
    position: static;
  }
}

@media screen and (max-width: 765px) {
  .position-relative:mobile {
    position: relative;
  }
}

@media screen and (max-width: 765px) {
  .position-absolute:mobile {
    position: absolute;
  }
}

@media screen and (max-width: 765px) {
  .position-fixed:mobile {
    position: fixed;
  }
}

@media screen and (max-width: 765px) {
  .position-sticky:mobile {
    position: sticky;
  }
}

@media screen and (max-width: 960px) {
  .position-static:lg {
    position: static;
  }
}

@media screen and (max-width: 960px) {
  .position-relative:lg {
    position: relative;
  }
}

@media screen and (max-width: 960px) {
  .position-absolute:lg {
    position: absolute;
  }
}

@media screen and (max-width: 960px) {
  .position-fixed:lg {
    position: fixed;
  }
}

@media screen and (max-width: 960px) {
  .position-sticky:lg {
    position: sticky;
  }
}

@media screen and (max-width: 1140px) {
  .position-static:xl {
    position: static;
  }
}

@media screen and (max-width: 1140px) {
  .position-relative:xl {
    position: relative;
  }
}

@media screen and (max-width: 1140px) {
  .position-absolute:xl {
    position: absolute;
  }
}

@media screen and (max-width: 1140px) {
  .position-fixed:xl {
    position: fixed;
  }
}

@media screen and (max-width: 1140px) {
  .position-sticky:xl {
    position: sticky;
  }
}
