*[primary] {
  color: var(--primary-color);
}

*[error] {
  color: #d12222;
}

*[warning] {
  color: #ce6504;
}

*[success] {
  color: #0bca15;
}

*[bg-primary] {
  background-color: var(--primary-color);
}

*[bg-error] {
  background-color: #d12222;
}

*[bg-warning] {
  background-color: #ce6504;
}

*[bg-success] {
  background-color: #0bca15;
}

*[bd-success], *[bd-warning], *[bd-error], *[bd-primary] {
  --bd-w: 1px;
  border: solid var(--bd-w);
}

*[bd-primary] {
  border-color: var(--primary-color);
}

*[bd-error] {
  border-color: #d12222;
}

*[bd-warning] {
  border-color: #ce6504;
}

*[bd-success] {
  border-color: #0bca15;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-grid {
  display: grid;
}

@media screen and (min-width: 540px) {
  .d-sm-none {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (min-width: 765px) {
  .d-mobile-none {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .d-lg-none {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  .d-xl-none {
    display: none;
  }
}

@media screen and (min-width: 540px) {
  .d-sm-inline {
    display: inline;
  }
}

@media screen and (min-width: 720px) {
  .d-md-inline {
    display: inline;
  }
}

@media screen and (min-width: 765px) {
  .d-mobile-inline {
    display: inline;
  }
}

@media screen and (min-width: 960px) {
  .d-lg-inline {
    display: inline;
  }
}

@media screen and (min-width: 1140px) {
  .d-xl-inline {
    display: inline;
  }
}

@media screen and (min-width: 540px) {
  .d-sm-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 720px) {
  .d-md-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 765px) {
  .d-mobile-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 960px) {
  .d-lg-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 1140px) {
  .d-xl-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 540px) {
  .d-sm-block {
    display: block;
  }
}

@media screen and (min-width: 720px) {
  .d-md-block {
    display: block;
  }
}

@media screen and (min-width: 765px) {
  .d-mobile-block {
    display: block;
  }
}

@media screen and (min-width: 960px) {
  .d-lg-block {
    display: block;
  }
}

@media screen and (min-width: 1140px) {
  .d-xl-block {
    display: block;
  }
}

@media screen and (min-width: 540px) {
  .d-sm-flex {
    display: flex;
  }
}

@media screen and (min-width: 720px) {
  .d-md-flex {
    display: flex;
  }
}

@media screen and (min-width: 765px) {
  .d-mobile-flex {
    display: flex;
  }
}

@media screen and (min-width: 960px) {
  .d-lg-flex {
    display: flex;
  }
}

@media screen and (min-width: 1140px) {
  .d-xl-flex {
    display: flex;
  }
}

@media screen and (min-width: 540px) {
  .d-sm-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 720px) {
  .d-md-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 765px) {
  .d-mobile-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 960px) {
  .d-lg-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 1140px) {
  .d-xl-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 540px) {
  .d-sm-grid {
    display: grid;
  }
}

@media screen and (min-width: 720px) {
  .d-md-grid {
    display: grid;
  }
}

@media screen and (min-width: 765px) {
  .d-mobile-grid {
    display: grid;
  }
}

@media screen and (min-width: 960px) {
  .d-lg-grid {
    display: grid;
  }
}

@media screen and (min-width: 1140px) {
  .d-xl-grid {
    display: grid;
  }
}

*[hide] {
  visibility: hidden;
}

*[show] {
  visibility: visible;
}

*[center] {
  margin: auto;
}

.of-auto {
  overflow: auto;
}

.of-hidden {
  overflow: hidden;
}

.of-visible {
  overflow: visible;
}

.of-scroll {
  overflow: scroll;
}

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

@media screen and (min-width: 540px) {
  .position-sm-static {
    position: static;
  }
}

@media screen and (min-width: 720px) {
  .position-md-static {
    position: static;
  }
}

@media screen and (min-width: 765px) {
  .position-mobile-static {
    position: static;
  }
}

@media screen and (min-width: 960px) {
  .position-lg-static {
    position: static;
  }
}

@media screen and (min-width: 1140px) {
  .position-xl-static {
    position: static;
  }
}

@media screen and (min-width: 540px) {
  .position-sm-relative {
    position: relative;
  }
}

@media screen and (min-width: 720px) {
  .position-md-relative {
    position: relative;
  }
}

@media screen and (min-width: 765px) {
  .position-mobile-relative {
    position: relative;
  }
}

@media screen and (min-width: 960px) {
  .position-lg-relative {
    position: relative;
  }
}

@media screen and (min-width: 1140px) {
  .position-xl-relative {
    position: relative;
  }
}

@media screen and (min-width: 540px) {
  .position-sm-absolute {
    position: absolute;
  }
}

@media screen and (min-width: 720px) {
  .position-md-absolute {
    position: absolute;
  }
}

@media screen and (min-width: 765px) {
  .position-mobile-absolute {
    position: absolute;
  }
}

@media screen and (min-width: 960px) {
  .position-lg-absolute {
    position: absolute;
  }
}

@media screen and (min-width: 1140px) {
  .position-xl-absolute {
    position: absolute;
  }
}

@media screen and (min-width: 540px) {
  .position-sm-fixed {
    position: fixed;
  }
}

@media screen and (min-width: 720px) {
  .position-md-fixed {
    position: fixed;
  }
}

@media screen and (min-width: 765px) {
  .position-mobile-fixed {
    position: fixed;
  }
}

@media screen and (min-width: 960px) {
  .position-lg-fixed {
    position: fixed;
  }
}

@media screen and (min-width: 1140px) {
  .position-xl-fixed {
    position: fixed;
  }
}

@media screen and (min-width: 540px) {
  .position-sm-sticky {
    position: sticky;
  }
}

@media screen and (min-width: 720px) {
  .position-md-sticky {
    position: sticky;
  }
}

@media screen and (min-width: 765px) {
  .position-mobile-sticky {
    position: sticky;
  }
}

@media screen and (min-width: 960px) {
  .position-lg-sticky {
    position: sticky;
  }
}

@media screen and (min-width: 1140px) {
  .position-xl-sticky {
    position: sticky;
  }
}

*[w-0] {
  width: 0%;
}

*[w-25] {
  width: 25%;
}

*[w-50] {
  width: 50%;
}

*[w-75] {
  width: 75%;
}

*[w-100] {
  width: 100%;
}

*[h-0] {
  height: 0%;
}

*[h-25] {
  height: 25%;
}

*[h-50] {
  height: 50%;
}

*[h-75] {
  height: 75%;
}

*[h-100] {
  height: 100%;
}

:is(p, h1, h2, h3, h4, h5, h6)[to-uppercase] {
  text-transform: uppercase;
}
:is(p, h1, h2, h3, h4, h5, h6)[to-lowercase] {
  text-transform: lowercase;
}
:is(p, h1, h2, h3, h4, h5, h6)[align-left] {
  text-align: left;
}
:is(p, h1, h2, h3, h4, h5, h6)[align-right] {
  text-align: right;
}
:is(p, h1, h2, h3, h4, h5, h6)[align-center] {
  text-align: center;
}
:is(p, h1, h2, h3, h4, h5, h6)[align-justify] {
  text-align: justify;
}