:root {
  --primary-color: #ca8f21;
  --secondary-color: #af7b19;
  --bg-primary-color: #fff;
  --bg-secondary-color: #f3f3f6;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
*:visited {
  color: auto;
}
*:before, *:after, * {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary-color);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6, *[title] {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

*[title] {
  font-size: 1.25rem;
  line-height: 1.7;
  letter-spacing: 0.05rem;
}

p {
  font-size: 1rem;
}

b {
  font-weight: bold;
}

button {
  --color: var(--secondary-color);
  padding: 10px 15px;
  color: var(--text);
  display: inline-block;
  transition: 0.2s;
  cursor: pointer;
  border: var(--color) 1px solid;
  border-radius: 5px;
  min-height: 25px;
  font-weight: 400;
  font-size: 16px;
}
button.erorr {
  --color: #d12222;
}
button.warn {
  --color: #ce6504;
}
button.success {
  --color: #0bca15;
}
button:hover {
  color: var(--hover-text);
}
button:hover a:visited, button:hover a:active {
  color: var(--hover-text);
}
button a:visited, button a:active {
  color: var(--text);
}
button:active {
  transform: scale(0.95);
}
button[theme=inline] {
  --text:#fff;
  --hover-text:#000;
  background-color: var(--color);
}
button[theme=inline]:hover {
  background: none;
}
button[theme=outline] {
  --text:#000;
  --hover-text:#fff;
}
button[theme=outline]:hover {
  background-color: var(--color);
}

navbar {
  --bg-color: var(--bg-secondary-color);
  --color: var(--secondary-color);
  position: fixed;
  top: 0;
  background-color: var(--bg-color);
  width: 100%;
}
navbar[theme=boxed] {
  padding: 15px;
}
navbar[theme=boxed] nav {
  display: flex;
}
navbar[theme=boxed] nav item {
  cursor: pointer;
  padding: 5px;
  flex: 0 1 auto;
  border-radius: 2.5px;
  margin-right: 5px;
}
navbar[theme=boxed] nav item a {
  transition: 300ms;
}
navbar[theme=boxed] nav item a:visited {
  color: initial;
}
navbar[theme=boxed] nav item:hover, navbar[theme=boxed] nav item[active], navbar[theme=boxed] nav item a:hover {
  color: var(--primary-color);
}
navbar[theme=simple] nav {
  display: flex;
}
navbar[theme=simple] nav item {
  padding: 15px;
}
navbar nav {
  display: flex;
  flex-wrap: warp;
}
navbar nav item {
  right: 0;
  transition: 300ms;
}
navbar nav item[logo] {
  display: block;
  padding: 2px;
}
@media screen and (min-width: 765px) {
  navbar nav item[logo] {
    margin-right: auto;
  }
}
navbar nav item:last-child {
  margin-right: 75px;
}
navbar nav item:not(navbar nav item[logo]):hover, navbar nav item[active] {
  background-color: var(--color);
}

tabs {
  display: flex;
}
tabs tab {
  padding: 5px;
  flex: 0 1 auto;
  padding: 5px 7.5px;
  transition-duration: 200ms;
}
tabs tab a:hover, tabs tab[active] {
  color: var(--primary-color);
}
tabs tab:hover {
  cursor: pointer;
}
tabs[full] tab {
  flex: 1;
  text-align: center;
}
tabs[theme=modern] tab {
  border-bottom: 2.25px #757575 solid;
}
tabs[theme=modern] tab[active], tabs[theme=modern] tab:hover {
  border-bottom: 2.25px #212121 solid;
}
tabs[theme=box] tab {
  border-bottom: 1.5px #757575 solid;
}
tabs[theme=box] tab[active], tabs[theme=box] tab:hover {
  border: 1.5px #757575 solid;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
tabs[theme=toggle] tab {
  border: 1.5px #9e9e9e solid;
}
tabs[theme=toggle] tab:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
tabs[theme=toggle] tab:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
tabs[theme=toggle] tab[active], tabs[theme=toggle] tab:hover {
  background-color: var(--primary-color);
  color: white;
}
tabs[theme=toggle] tab[active] a:visited, tabs[theme=toggle] tab:hover a:visited {
  color: white;
}
tabs[theme=toggle] tab[active] a:hover, tabs[theme=toggle] tab:hover a:hover {
  color: white;
}
tabs[theme=toggle] tab:not(tabs[theme=toggle] tab:first-child) {
  border-left: none;
}