button
    --color: var(--secondary-color)
    &.erorr
        --color: #d12222
    &.warn
        --color: #ce6504
    &.success
        --color: #0bca15
    padding: 10px 15px
    color: var(--text)
    display: inline-block
    transition: .2s
    cursor: pointer
    border: var(--color) 1px solid
    border-radius: 5px
    min-height: 25px
    font-weight: 400
    font-size: 16px
    &:hover
        color: var(--hover-text)
        a
            &:visited, &:active
                color: var(--hover-text)
    a
        &:visited, &:active
            color:  var(--text)
    &:active
        transform: scale(.95)
    &[theme="inline"]
        --text:#fff
        --hover-text:#000
        background-color: var(--color)
        &:hover
            background: none
    &[theme="outline"]
        --text:#000
        --hover-text:#fff
        &:hover
            background-color: var(--color)