.tooltip-box
    position: relative
    tooltip
        --width: -75px
        z-index: 1
        display: inline-block
        opacity: 0
        background-color: rgba(0, 0, 0, .75)
        position: absolute
        left: 50%
        bottom: 95%
        transition: .5s
        transform: translate(-50%, 0%)
        color: white
        padding: 5px 10px
        font-weight: 300
        font-size: 12px
        border-radius: 2.5px
        text-align: center
        min-width: 50px
        max-width: var(--width)
        &:not(&[left], &[right], &[bottom], &)
            transform: none
        &:is(&[left], &[right])
            transform: translate(0, 50%)
            bottom: 50%
        &[top-left]
            left: 0
        &[top-right]
            left: auto
            right: 0
        &[left]
            left: 0
        &[right]
            left: auto
            right: 0
        &[bottom]
            bottom: 5%
        &[bottom-left]
            left: 0
            bottom: 5%
        &[bottom-right]
            left: auto
            right: 0
            bottom: 5%
    &:hover > tooltip, &:focus > tooltip
        opacity: 1
        display: inline-block
        bottom: calc( 100% + 10px )
        &:is(&[bottom], &[bottom-left], &[bottom-right])
            bottom: calc( -50% + -10px )
        &:is(&[right], &[left])
            bottom: 50%
        &[top-left]
            left: var(--width)
        &[top-right]
            right: var(--width)
        &[left]
            left: var(--width)
        &[right]
            right: var(--width)
        &[bottom-left]
            left: var(--width)
        &[bottom-right]
            right: var(--width)