html
    background: url(../flash.svg)
    // background-repeat: no-repeat
    background-size: 300px
    background-position-x: center
    background-position-y: -50%

.comming
    position: absolute
    top: 50vh
    text-align: center
    background-color: #fff
    // height: 50%
    width: 100%
    box-sizing: border-box
    box-shadow: 0px -10px 50px rgba(0, 0, 0, 0.2)